// #######################################
//      FONTS
// #######################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@font-face {
    font-family: "Pixel";
    font-weight: normal;
    src: local("Pixel"), url("resources/fonts/Pixel.otf") format("truetype");
}

// #######################################
//      VARIABLES
// #######################################

$background: #f5f5f5;
$text: #0c0c0c;
$backgroundDark: #0c0c0c;
$textDark: #f5f5f5;

$fontSize: 18px;
$lineHeight: 22px;

$navBarHeight: 5rem;
$navBarHeightMobile: 2.5rem;

$tabletWidth: 1100px;
$mobileWidth: 768px;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $fontSize;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: $background;
    color: $text;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);

    &.dark {
        background-color: $backgroundDark;
        color: $textDark;
    }
}

img,
video {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    height: 100%;
    width: 100%;
}

// ##############################################################################
// ##############################################################################
//      PAGES
// ##############################################################################
// ##############################################################################

// #######################################
//      LOADING PAGE
// #######################################

.loadingPage {
    position: relative;
    height: calc(100% - #{$navBarHeightMobile});
    width: 100%;
    background-color: rgb(255, 203, 203);

    @media only screen and (min-width: $mobileWidth) {
        height: calc(100% - #{$navBarHeight});
    }
}

// #######################################
//      MAIN PAGE
// #######################################

.mainPage {
    position: relative;
    height: calc(100% - #{$navBarHeightMobile});
    width: 100%;
    display: flex;

    @media only screen and (min-width: $mobileWidth) {
        height: calc(100% - #{$navBarHeight});
    }

    .sidebar {
        height: 100%;
        width: 22rem;
    }

    .board {
        height: 100%;
        flex-grow: 1;
        background-color: rgb(203, 255, 207);
    }
}

// #######################################
//      ERROR PAGE
// #######################################

.errorPage {
    position: relative;
    height: calc(100% - #{$navBarHeightMobile});
    width: 100%;
    background-color: rgb(203, 226, 255);

    @media only screen and (min-width: $mobileWidth) {
        height: calc(100% - #{$navBarHeight});
    }
}

// ##############################################################################
// ##############################################################################
//      COMPONENTS
// ##############################################################################
// ##############################################################################

// #######################################
//      NAVBAR
// #######################################

.navbar {
    position: relative;
    height: $navBarHeightMobile;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));

    @media only screen and (min-width: $mobileWidth) {
        height: $navBarHeight;
    }

    &.dark {
        background-color: rgba(255, 255, 255, 0.05);
    }

    .logo {
        height: $navBarHeightMobile;
        min-height: $navBarHeightMobile;
        max-height: $navBarHeightMobile;
        width: $navBarHeightMobile;
        min-width: $navBarHeightMobile;
        max-width: $navBarHeightMobile;
        padding: 0.5rem;
        margin-left: 0.5rem;

        @media only screen and (min-width: $mobileWidth) {
            height: $navBarHeight;
            min-height: $navBarHeight;
            max-height: $navBarHeight;
            width: $navBarHeight;
            min-width: $navBarHeight;
            max-width: $navBarHeight;
            padding: 1.2rem;
            margin-left: 1rem;
        }
    }

    .name {
        font-size: 1rem;
        font-weight: 600;
        margin: 0 1rem 0 0.5rem;
        flex-grow: 1;
        min-width: fit-content;

        @media only screen and (min-width: $mobileWidth) {
            font-size: 1.5rem;
            margin: 0 2rem 0 1rem;
        }
    }

    .toggle {
        position: relative;
        width: 3rem;
        min-width: 3rem;
        max-width: 3rem;
        height: 1.5rem;
        margin: 0.75rem;
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
        @include border-radius(100vw);

        @media only screen and (min-width: $mobileWidth) {
            width: 4.6rem;
            min-width: 4.6rem;
            max-width: 4.6rem;
            height: 2.3rem;
            margin: 1.3rem;
        }

        &.dark {
            background-color: rgba(255, 255, 255, 0.07);
        }

        .handle {
            transition: left 0.2s ease-in-out;
            position: absolute;
            height: 1.5rem;
            min-height: 1.5rem;
            max-height: 1.5rem;
            width: 1.5rem;
            min-width: 1.5rem;
            max-width: 1.5rem;
            left: 0rem;
            pointer-events: none;
            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
            @include border-radius(100vw);

            @media only screen and (min-width: $mobileWidth) {
                height: 2.3rem;
                min-height: 2.3rem;
                max-height: 2.3rem;
                width: 2.3rem;
                min-width: 2.3rem;
                max-width: 2.3rem;
                left: 0rem;
            }

            &.dark {
                left: 1.5rem;
                background-color: rgba(255, 255, 255, 0.08);

                @media only screen and (min-width: $mobileWidth) {
                    left: 2.3rem;
                }
            }

            .darkModeIcon {
                height: 0.9rem;
                min-height: 0.9rem;
                max-height: 0.9rem;
                width: 0.9rem;
                min-width: 0.9rem;
                max-width: 0.9rem;
                margin: 0.3rem;
                pointer-events: none;
                opacity: 0.5;
                color: $text;

                &.dark {
                    color: $textDark;
                }

                @media only screen and (min-width: $mobileWidth) {
                    height: 1.6rem;
                    min-height: 1.6rem;
                    max-height: 1.6rem;
                    width: 1.6rem;
                    min-width: 1.6rem;
                    max-width: 1.6rem;
                    margin: 0.35rem;
                }
            }
        }
    }

    .account {
        font-size: 1.2rem;
        width: fit-content;
        font-weight: 600;
        margin-left: 1rem;
        opacity: 0.5;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: none;

        @media only screen and (min-width: $tabletWidth) {
            display: initial;
        }
    }

    .userIconContainer {
        position: relative;
        height: $navBarHeightMobile;
        min-height: $navBarHeightMobile;
        max-height: $navBarHeightMobile;
        width: $navBarHeightMobile;
        min-width: $navBarHeightMobile;
        max-width: $navBarHeightMobile;
        padding: 0.3rem;

        @media only screen and (min-width: $mobileWidth) {
            height: $navBarHeight;
            min-height: $navBarHeight;
            max-height: $navBarHeight;
            width: $navBarHeight;
            min-width: $navBarHeight;
            max-width: $navBarHeight;
            padding: 1rem;
        }

        .userIcon {
            height: 100%;
            min-height: 100%;
            max-height: 100%;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            @include box-shadow(0 0 0.3rem rgba(0, 0, 0, 0.3));
            @include border-radius(4px);

            @media only screen and (min-width: $mobileWidth) {
                @include box-shadow(0 0 10px rgba(0, 0, 0, 0.3));
                @include border-radius(8px);
            }
        }
    }
}

// #######################################
//      COLOR PICKER
// #######################################

.colorPicker {
}
